@font-face {
  font-family: 'MyFont';
  src:  url('./Branda.ttf') format('ttf');
  font-weight: 600;
  font-style: normal;
}

.hello {
  color: red;
  background: url('./added-value4.png');
  font-family: 'MyFont';
}
